<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">
  <test verbose="0" name="Ujian minggu ke 5">
    <classes>
      <!-- <class name="com.zen.AddExtensionTest" /> -->
      <!-- <class name="com.zen.SearchTest" /> -->

      <class name="com.LoginTest" />
      <class name="com.CoTest" />

      <!-- <class name="com.zen.SingleSessionTest" /> -->
    </classes>
  </test>
</suite>